<phpunit
    bootstrap="./tests/Bootstrap.php"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    verbose="true"
    stopOnFailure="false"
    processIsolation="false"
    backupGlobals="false"
    syntaxCheck="true"
>
    <testsuites>
        <testsuite name="ZfDisqus Module tests">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
